@charset "utf-8";
	body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,label,dl,dt,dd,fieldset,img {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none
}
table,th,td {
	margin: 0;
	padding: 0;
}
body,fieldset,th,td,select,input,textarea {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif,"瀹嬩綋";
}
select,input {
	vertical-align: middle
}
ul {
	list-style-type: none;
}
cite,em {
	font-style: normal
}
a {
	text-decoration: none;
	color: #2B99E3
}
a: hover {
	text-decoration: underline;
	_text-decoration: none;
}
input[type=button],input[type=reset],input[type=submit],input[type=radio],input[type=checkbox] {
	cursor: pointer
}
label {
	cursor: pointer!important;
	cursor: hand;
	vertical-align: middle
}
}.hidden {
	display: none
}
.wordwrap {
	word-wrap: break-word;
	word-break: break-all;
}
.clearit {
	clear: both;
	height: 0px;
	overflow: hidden
}
select,input {
	vertical-align: middle;
}
a {
	text-decoration: none;
}
a: link {
	color: #1e50a2;
}
a: visited {
	color: #1e50a2;
}
a: hover,a: active,a: focus {
	color: #1e50a2;
	text-decoration: underline;
}
.clearit {
	clear: both;
}
.f12 {
	font-size: 12px;
}
.f14 {
	font-size: 14px;
}
.fb {
	font-weight: bold;
}
.red {
	color: #c00;
	font-family: Verdana;
	vertical-align: middle;
}
.orange {
	color: #c60;
}
.zi_6 {
	color: #666;
}
.zi_9 {
	color: #999;
}
.sgtxtc {
	color: #999;
}
.green {
	color: #037b00;
}
.clearfix: after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.link a: link,.link a: visited,.link a: hover,a.link: link,a.link: visited,a.link: hover {
	color: #1e50a2;
	text-decoration: underline;
}
.merge_regist {
	width: 100%;
	font-size: 12px;
	background: url(../../images/register/bg.jpg) repeat 0 0;
}
.reg_title {
	padding-bottom: 30px;
	color: #666666;
	font: 13px/20px 'Microsoft Yahei';
}
#wrap {
	width: 100%;
}
.head {
	width: 960px;
	margin: 0 auto;
}
.logo {
	float: left;
	width: 194px;
	height: 33px;
	margin: 30px 0 20px 10px;
	position: relative;
}
.logolink,.logoimg {
	display: block;
	width: 194px;
	height: 33px;
	position: absolute;
	top: 0;
}
.logolink {
	}
.logoimg {
	background: url('../../images/register/logo_com.png') no-repeat;
	_background: url('../../images/register/logo_com_ie6.png') no-repeat }
.headlink {
	float: right;
	width: 500px;
	text-align: right;
	margin: 45px 10px 0 0;
	color: #000;
}
.headlink a,.headlink a: link,.headlink a: visited {
	color: #000;
	text-decoration: none;
}
.headlink a: hover {
	color: #000;
	text-decoration: underline;
}
.Footer {
	clear: both;
	text-align: center;
	line-height: 25px;
	font-family: Arial,"瀹嬩綋";
	margin-top: 20px;
}
.main {
	width: 960px;
	clear: both;
	margin: 0 auto;
	position: relative;
}
.main_top {
	width: 960px;
	height: 10px;
	background: url('../../images/register/frame.png') no-repeat 0 0;
	_background: url('../../images/register/frame.gif') no-repeat 0 0;
	overflow: hidden;
}
.main_bottom {
	width: 960px;
	height: 10px;
	background: url('../../images/register/frame.png') no-repeat right 0;
	_background: url('../../images/register/frame.gif') no-repeat right 0;
	overflow: hidden;
}
.main_cen {
	height: auto;
	_height: 200px;
	min-height: 200px;
	background: url('../../images/register/frame.png') repeat-y -980px 0;
	_background: url('../../images/register/frame.gif') repeat-y -980px 0;
	padding-left: 48px;
}
.mainCenLeft {
	float: left;
	width: 640px;
	overflow: hidden;
}
.mainCenRight {
	float: left;
	margin-left: 25px;
	width: 270px;
}
.footer {
	clear: both;
	text-align: center;
	line-height: 25px;
	font-family: Arial,"瀹嬩綋";
	margin-top: 20px;
}
.footer p {
	text-align: center;
}
#cimage {
	cursor: pointer;
}
.reg_tab {
	margin: 0 48px 16px 0;
	padding-top: 30px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #9e9e9e;
}
.reg_tab li {
	float: left;
	vertical-align: top;
}
.reg_tab li a {
	float: left;
	margin-right: 5px;
	width: 147px;
	height: 41px;
	background-image: url(../../images/register/reg_tab.gif);
	background-repeat: no-repeat;
	background-position: 0 -56px;
}
.reg_tab li a.cur {
	background-position: 0 0;
}
.reg_tab li a {
	display: block;
	padding-top: 8px;
	text-align: center;
	font: normal 14px/16px 'Microsoft YaHei';
	color: #fff;
	text-decoration: none;
}
.reg_tab li a: link,.reg_tab li a: visited,.reg_tab li a: hover {
	color: #fff;
	text-decoration: none;
}
.reg_title strong {
	font: normal 20px/20px 'Microsoft Yahei';
	color: #333;
}
.reg_tab .qing .cur {
	background-position: 0 -105px
}
.reg_tab .use_weibo {
	float: right;
	margin: 18px 108px 0 0;
	font: normal 14px/20px 'Microsoft Yahei';
	color: #666;
}
.reg_tab .use_weibo: link,.reg_tab .use_weibo: visited,.reg_tab .use_weibo: hover {
	color: #666;
}
.register_frame {
	padding-left: 130px;
}
.mainCenLeft {
	float: left;
	width: 507px;
}
.mainCenLeft .pagetl {
	padding: 48px 0 28px;
	font: normal 18px/20px 'Microsoft Yahei';
}
.mainCenLeft .sended {
	margin-bottom: 35px;
	border-bottom: 1px dotted #9e9e9e;
	padding-bottom: 17px;
	color: #666;
}
.mainCenLeft .tomailbox {
	height: 39px;
	padding-left: 10px;
	background: url(../../images/register/tomailbox.png) no-repeat 0 0;
	display: block;
	float: left;
}
.mainCenLeft .tomailbox: focus {
	outline: none;
}
.mainCenLeft .tomailbox span {
	float: left;
	height: 39px;
	padding-right: 10px;
	line-height: 39px;
	color: #fff;
	font: normal 16px/38px 'Microsoft Yahei';
	background: url(../../images/register/tomailbox.png) no-repeat right -80px;
	white-space: nowrap;
}
.mainCenLeft .sended p {
	padding-bottom: 15px;
}
.mainCenLeft .step {
	padding-bottom: 42px;
}
.mainCenLeft .step .step_tl {
	font: normal 18px/20px 'Microsoft Yahei';
}
.mainCenLeft .step ol {
	padding-top: 15px;
}
.mainCenLeft .step li {
	padding-left: 16px;
	line-height: 24px;
	color: #666;
	text-indent: -16px;
}
.mainCenLeft .step em {
	color: #333;
}